{% extends 'base.jinja2' %}

{% block page_header %}{{ _('Problems') }}{% endblock %}

{% block content %}

  <div class="ui stackable secondary menu small">
    <a class="{{ active('problems:list') }} item" href="{{ url('problems:list') }}">{{ _('PROBLEMSET') }}</a>
    <a class="{{ active('problems:source') }} item" href="{{ url('problems:source') }}">{{ _('SOURCE') }}</a>
    <a class="{{ active('problems:millionaire') }} item" href="{{ url('problems:millionaire') }}">{{ _('MILLIONAIRE') }}</a>
    <a class="{{ active('problems:status') }} item" href="{{ url('problems:status') }}">{{ _('STATUS') }}</a>
  </div>

  {% block problem_content %}
  {% endblock %}
{% endblock %}