{% extends 'polygon/problem/base.jinja2' %}

{% block problem_content %}

  {% include 'components/message.jinja2' %}

  <table class="ui celled center aligned table">
    <thead class="full-width">
      <tr>
        <th colspan="7">
          <a href="{{ url('polygon:repo_source_create', problem.pk) }}" class="ui right floated small primary labeled icon button">
            <i class="code icon"></i> Add Source
          </a>
        </th>
      </tr>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Lang</th>
        <th>Tag</th>
        <th>Modified</th>
        <th>Length</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
    {% for source in source_list %}
      <tr>
        <td>{{ source.pk }}</td>
        <td>{{ source.name }}</td>
        <td>{{ source.get_lang_display() }}</td>
        <td>{{ source.get_tag_display() }}</td>
        <td>{{ source.modified | date('Y-m-d h:i:s') }}</td>
        <td>{{ (source.length / 1024) | round(2) }} KB</td>
        <td><a href="{{ url('polygon:repo_source_edit', problem.pk, source.pk) }}">Edit</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <h4 class="ui horizontal divider header">
    <i class="tag icon"></i>
    Select Judge Sources
  </h4>

  <form class="ui form" method="POST">
    {% csrf_token %}
    <div class="three fields">
      <div class="field">
        <label for="checker">Checker {% if problem.checker %}(<a href="#">Download</a>){% endif %}</label>
        <select name="checker">
          {% for key, val in checkers %}
            <option value="{{ key }}" {% if key == problem.checker %}selected{% endif %}>{{ val }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="field">
        <label for="validator">Validator</label>
        <select name="validator">
          {% for key, val in checkers %}
            <option value="{{ key }}" {% if key == problem.validator %}selected{% endif %}>{{ val }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="field">
        <label for="interactor">Interactor</label>
        <select name="interactor">
          {% for key, val in checkers %}
            <option value="{{ key }}" {% if key == problem.interactor %}selected{% endif %}>{{ val }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <button type="submit" class="ui positive button">Save</button>
  </form>

{% endblock %}