{% extends 'polygon/problem/base.jinja2' %}

{% block problem_content %}

  {% include 'components/message.jinja2' %}

  <table class="ui compact small celled center aligned table">
    <thead class="full-width">
      <tr class="right aligned">
        <th colspan="12">
          <a href="{{ url('polygon:repo_test_create', problem.pk) }}" data-tooltip="Add test(s)" class="ui small primary icon labeled button">
            <i class="add icon"></i> Add
          </a>
          <a class="ui small teal icon labeled button post-link" data-link="{{ url('polygon:repo_test_refresh', problem.pk) }}" data-tooltip="Generate input and output">
            <i class="refresh icon"></i> Refresh
          </a>
          <a class="ui small red icon labeled button" data-tooltip="Upload to judge server">
            <i class="upload icon"></i> Confirm
          </a>
        </th>
      </tr>
      <tr>
        <th>#</th>
        <th class="three wide">Input</th>
        <th class="three wide">Output</th>
        <th>KB</th>
        <th>Description</th>
        <th>Comment</th>
        <th>Group</th>
        <th>Created</th>
        <th colspan="3">Actions</th>
        <th>Sel</th>
      </tr>
    </thead>
    <tbody>
    {% for test in test_list %}
      <tr>
        <td>{{ test.case_number }}</td>
        <td class="selectable left aligned"><a href="{{ url('polygon:repo_test_full_view', problem.pk) }}?id={{ test.pk }}&t=in"><pre><code>{{ test.input_preview }}</code></pre></a></td>
        <td class="selectable left aligned"><a href="{{ url('polygon:repo_test_full_view', problem.pk) }}?id={{ test.pk }}&t=out"><pre><code>{{ test.output_preview }}</code></pre></a></td>
        <td>{{ (test.size / 1024) | round(2) }}</td>
        <td>{{ test.description }}</td>
        <td>{% if test.show_in_samples %}Sample<br> {% endif %}
          {% if test.show_in_pretests %}Pretest<br>{% endif %}
          {% if not test.show_in_tests %}Skipped.<br> {% endif %}
          {% if test.manual_output_lock %}Out-lock<br>{% endif %}
        </td>
        <td>{{ test.group }}</td>
        <td>{{ test.created | date('Y-m-d h:i:s') }}</td>
        <td><a href="#">Move</a></td>
        <td><a href="#">Delete</a></td>
        <td><a href="#">IO</a></td>
        <td><input type="checkbox"></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}